@use "../../../global" as global;

.p-companyFactory {
  margin-top: 4rem;
  padding-left: 100px;
  padding-right: 100px;

  @include global.max-screen(global.$breakpoint_pc) {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-companyFactory__list {
}

.p-companyFactory__item {
  display: flex;
  height: 350px;

  @include global.max-screen(global.$breakpoint_pc) {
    height: 190px;
  }

  &:nth-child(1) {
    .p-companyFactory__left {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: calc(100% - 200px);
      z-index: 1;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 82.66666666%;
      }
    }

    .p-companyFactory__right {
      width: 200px;
      height: 100%;
      background: #1e2b35;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 17.333333333%;
      }

      p {
        color: #ffffff;
        text-align: center;
        font-size: 36px;
        padding-top: 20px;

        @include global.max-screen(global.$breakpoint_pc) {
          font-size: 32px;
          padding-top: 25px;
          writing-mode: vertical-rl;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &:nth-child(2) {
    .p-companyFactory__left {
      width: 200px;
      height: 100%;
      background: #1e2b35;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 17.333333333%;
      }

      p {
        color: #ffffff;
        text-align: center;
        font-size: 36px;
        padding-top: 20px;

        @include global.max-screen(global.$breakpoint_pc) {
          padding-top: 25px;
          font-size: 32px;
          writing-mode: vertical-rl;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .p-companyFactory__right {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: calc(100% - 200px);
      z-index: 1;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 82.66666666%;
      }
    }
  }
}

.webp {
  .p-companyFactory__item {
    &:nth-child(1) {
      .p-companyFactory__left {
        background-image: url(#{global.$path_img}webp/1x/company/company-factory-01.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/company/company-factory-01.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-factory-01@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/company/company-factory-01.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-factory-01@2x.webp) 2x
        );

        @include global.max-screen(global.$breakpoint_pc) {
          background-image: url(#{global.$path_img}webp/1x/company/company-factory-01-sp.webp);
          background-image: image-set(
            url(#{global.$path_img}webp/1x/company/company-factory-01-sp.webp) 1x,
            url(#{global.$path_img}webp/2x/company/company-factory-01-sp@2x.webp) 2x
          );
          background-image: -webkit-image-set(
            url(#{global.$path_img}webp/1x/company/company-factory-01-sp.webp) 1x,
            url(#{global.$path_img}webp/2x/company/company-factory-01-sp@2x.webp) 2x
          );
        }
      }
    }
  }
}

.no-webp {
  .p-companyFactory__item {
    &:nth-child(1) {
      .p-companyFactory__left {
        background-image: url(#{global.$path_img}normal/1x/company-factory-01.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/company-factory-01.png) 1x,
          url(#{global.$path_img}normal/2x/company-factory-01@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/company-factory-01.png) 1x,
          url(#{global.$path_img}normal/2x/company-factory-01@2x.png) 2x
        );

        @include global.max-screen(global.$breakpoint_pc) {
          background-image: url(#{global.$path_img}normal/1x/company/company-factory-01-sp.png);
          background-image: image-set(
            url(#{global.$path_img}normal/1x/company/company-factory-01-sp.png) 1x,
            url(#{global.$path_img}normal/2x/company/company-factory-01-sp@2x.png) 2x
          );
          background-image: -webkit-image-set(
            url(#{global.$path_img}normal/1x/company/company-factory-01-sp.png) 1x,
            url(#{global.$path_img}normal/2x/company/company-factory-01-sp@2x.png) 2x
          );
        }
      }
    }
  }
}

.webp {
  .p-companyFactory__item {
    &:nth-child(2) {
      .p-companyFactory__right {
        background-image: url(#{global.$path_img}webp/1x/company/company-factory-02.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/company/company-factory-02.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-factory-02@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/company/company-factory-02.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-factory-02@2x.webp) 2x
        );

        @include global.max-screen(global.$breakpoint_pc) {
          background-image: url(#{global.$path_img}webp/1x/company/company-factory-02-sp.webp);
          background-image: image-set(
            url(#{global.$path_img}webp/1x/company/company-factory-02-sp.webp) 1x,
            url(#{global.$path_img}webp/2x/company/company-factory-02-sp@2x.webp) 2x
          );
          background-image: -webkit-image-set(
            url(#{global.$path_img}webp/1x/company/company-factory-02-sp.webp) 1x,
            url(#{global.$path_img}webp/2x/company/company-factory-02-sp@2x.webp) 2x
          );
        }
      }
    }
  }
}

.no-webp {
  .p-companyFactory__item {
    &:nth-child(2) {
      .p-companyFactory__right {
        background-image: url(#{global.$path_img}normal/1x/company-factory-02.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/company-factory-02.png) 1x,
          url(#{global.$path_img}normal/2x/company-factory-02@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/company-factory-02.png) 1x,
          url(#{global.$path_img}normal/2x/company-factory-02@2x.png) 2x
        );

        @include global.max-screen(global.$breakpoint_pc) {
          background-image: url(#{global.$path_img}normal/1x/company/company-factory-02-sp.png);
          background-image: image-set(
            url(#{global.$path_img}normal/1x/company/company-factory-02-sp.png) 1x,
            url(#{global.$path_img}normal/2x/company/company-factory-02-sp@2x.png) 2x
          );
          background-image: -webkit-image-set(
            url(#{global.$path_img}normal/1x/company/company-factory-02-sp.png) 1x,
            url(#{global.$path_img}normal/2x/company/company-factory-02-sp@2x.png) 2x
          );
        }
      }
    }
  }
}