@use "../../../global" as global;

.p-companyHistory {
  margin-top: 65px;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 8vw;
  }
}

.p-companyHistory__list {
  margin-top: 40px;
  padding-left: 100px;
  padding-right: 100px;

  @include global.max-screen(global.$breakpoint_pc) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.p-companyHistory__item {
  display: flex;
  height: 313px;

  @include global.max-screen(global.$breakpoint_pc) {
    height: 100%;
    flex-direction: column !important;
    gap: 20px;
  }

  &:not(:first-child) {
    margin-top: 45px;

    @include global.max-screen(global.$breakpoint_pc) {
      margin-top: 30px;
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    @include global.max-screen(global.$breakpoint_pc) {
    }

    .p-companyHistory__left {
      width: 420px;
      height: 100%;
      padding-bottom: 32px;

      @include global.max-screen(global.$breakpoint_pc) {
        height: 140px;
        width: 210px;
        padding-bottom: 0;
        margin-left: auto;
      }
    }

    .p-companyHistory__leftImg {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    .p-companyHistory__right {
      width: calc(100% - 420px);
      padding-right: 65px;
      position: relative;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 100%;
        padding-right: 20px;
      }
      &::before {
        content: "";
        height: 1px;
        background: #567894;
        display: block;
        width: 68px;
        max-width: 100%;
        position: absolute;
        top: 106px;
        right: -1px;
        z-index: 2;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 51px;
          width: 60px;
          right: -20px;
        }
      }

      &::after {
        content: "";
        height: 1px;
        background: #567894;
        display: block;
        width: 100px;
        max-width: 100%;
        position: absolute;
        top: 106px;
        left: -100px;
        z-index: 2;
        max-width: 100%;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 51px;
         left: -20px;
          width: 20px;
        }
      }
    }

    .p-companyHistory__rightTop {
      h3 {
        padding-left: 32px;
        padding-bottom: 32px;
        padding-top: 32px;
        border-left: 1px solid #567894;
        font-size: 25px;
        line-height: 1;

        @include global.max-screen(global.$breakpoint_pc) {
          padding-left: 20px;
          padding-bottom: 20px;
          padding-top: 0px;
          font-size: 16px;
        }
      }

      span {
        font-size: 12px;
        display: block;
        padding-bottom: 5px;

        @include global.max-screen(global.$breakpoint_pc) {
          font-size: 10px;
        }
      }
    }

    .p-companyHistory__rightBottom {
      padding-left: 32px;
      padding-bottom: 32px;
      padding-top: 32px;
      border-left: 1px solid #567894;
      border-top: 1px solid #567894;
      font-size: 16px;

      @include global.max-screen(global.$breakpoint_pc) {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 12px;
      }
      p {
      }
    }
  }

  &:nth-child(2n + 1) {
    .p-companyHistory__left {
      width: 420px;
      height: 100%;
      padding-bottom: 32px;
      z-index: 2;

      @include global.max-screen(global.$breakpoint_pc) {
        height: 140px;
        width: 210px;
        padding-bottom: 0;
      }
    }

    .p-companyHistory__leftImg {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      z-index: 1;
    }

    .p-companyHistory__right {
      width: calc(100% - 420px);
      padding-left: 66px;
      position: relative;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 100%;
        padding-left: 20px;
      }

      &::before {
        content: "";
        height: 1px;
        background: #567894;
        display: block;
        width: 68px;
        max-width: 100%;
        position: absolute;
        top: 106px;
        left: -1px;
        z-index: 2;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 51px;
          width: 60px;
          left: -20px;
        }
      }

      &::after {
        content: "";
        height: 1px;
        background: #567894;
        display: block;
        width: 100px;
        max-width: 100%;
        position: absolute;
        top: 106px;
        right: -100px;
        z-index: 2;
        max-width: 100%;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 51px;
          right: -20px;
          width: 40px;
        }
      }
    }

    .p-companyHistory__rightTop {
      h3 {
        padding-left: 32px;
        padding-bottom: 32px;
        padding-top: 32px;
        border-left: 1px solid #567894;
        font-size: 25px;
        line-height: 1;

        @include global.max-screen(global.$breakpoint_pc) {
          padding-left: 20px;
          padding-bottom: 20px;
          padding-top: 0px;
          font-size: 16px;
        }
      }

      span {
        font-size: 12px;
        display: block;
        padding-bottom: 5px;

        @include global.max-screen(global.$breakpoint_pc) {
          font-size: 10px;
        }
      }
    }

    .p-companyHistory__rightBottom {
      padding-left: 32px;
      padding-bottom: 32px;
      padding-top: 32px;
      border-left: 1px solid #567894;
      border-top: 1px solid #567894;
      font-size: 16px;

      @include global.max-screen(global.$breakpoint_pc) {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 12px;
      }
      p {
      }
    }
  }

  &:nth-child(1) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-01.png);
    }
  }

  &:nth-child(2) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-02.png);
    }
  }

  &:nth-child(3) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-03.png);
    }
  }

  &:nth-child(4) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-04.png);
    }
  }

  &:nth-child(5) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-05.png);
    }
  }
}
