@use "../../../global" as global;

.p-companyHistory {
  margin-top: 4rem;
}

.p-companyHistory__list {
  margin-top: 4rem;
  padding-left: 100px;
  padding-right: 100px;

  @include global.max-screen(global.$breakpoint_pc) {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-companyHistory__item {
  display: flex;
  height: 313px;

  @include global.max-screen(global.$breakpoint_pc) {
    height: 100%;
    flex-direction: column !important;
    gap: 25px;
  }

  &:not(:first-child) {
    margin-top: 56px;
  }

  @include global.max-screen(408px) {
    &:nth-child(2) {
      .p-companyHistory__right {
        &::before {
          top: 110px !important;
        }
        &::after {
          top: 110px !important;
        }
      }
    }
  }

  @include global.max-screen(1284px) {
    &:nth-child(3) {
      .p-companyHistory__right {
        &::before {
          top: 122px !important;
        }
        &::after {
          top: 122px !important;
        }
      }
    }
  }

  @include global.max-screen(1019px) {
    &:nth-child(3) {
      .p-companyHistory__right {
        &::before {
          top: 154px !important;
        }
        &::after {
          top: 154px !important;
        }
      }
    }
  }

  @include global.max-screen(999px) {
    &:nth-child(3) {
      .p-companyHistory__right {
        &::before {
          top: 78px !important;
        }
        &::after {
          top: 78px !important;
        }
      }
    }
  }

  @include global.max-screen(636px) {
    &:nth-child(3) {
      .p-companyHistory__right {
        &::before {
          top: 110px !important;
        }
        &::after {
          top: 110px !important;
        }
      }
    }
  }

  @include global.max-screen(999px) {
    &:nth-child(5) {
      .p-companyHistory__right {
        &::before {
          top: 78px !important;
        }
        &::after {
          top: 78px !important;
        }
      }
    }
  }

  @include global.max-screen(1283px) {
    &:nth-child(5) {
      .p-companyHistory__right {
        &::before {
          top: 122px !important;
        }
        &::after {
          top: 122px !important;
        }
      }
    }
  }

  @include global.max-screen(1019px) {
    &:nth-child(5) {
      .p-companyHistory__right {
        &::before {
          top: 154px !important;
        }
        &::after {
          top: 154px !important;
        }
      }
    }
  }
  
  @include global.max-screen(548px) {
    &:nth-child(5) {
      .p-companyHistory__right {
        &::before {
          top: 110px !important;
        }
        &::after {
          top: 110px !important;
        }
      }
    }
  }

  @include global.max-screen(635px) {
    &:nth-child(5) {
      .p-companyHistory__right {
        &::before {
          top: 110px !important;
        }
        &::after {
          top: 110px !important;
        }
      }
    }
  }

  @include global.max-screen(371px) {
    &:nth-child(5) {
      .p-companyHistory__right {
        &::before {
          top: 142px !important;
        }
        &::after {
          top: 142px !important;
        }
      }
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    @include global.max-screen(global.$breakpoint_pc) {
    }

    .p-companyHistory__left {
      width: 420px;
      height: 100%;

      @include global.max-screen(global.$breakpoint_pc) {
        width: calc(100% - 14px);
        height: 296px;
        padding-bottom: 0;
        margin-left: 0;
      }
    }

    .p-companyHistory__leftImg {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    .p-companyHistory__right {
      width: calc(100% - 420px);
      padding-right: 4rem;
      padding-left: 40px;
      position: relative;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 100%;
        padding-left: 14px;
        padding-right: 0px;
      }
      &::before {
        content: "";
        height: 1px;
        background: #407897;
        display: block;
        width: 68px;
        max-width: 100%;
        position: absolute;
        top: 90px;
        right: -1px;
        z-index: 2;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 78px;
          width: 60px;
          right: 0px;
        }
      }

      &::after {
        content: "";
        height: 1px;
        background: #407897;
        display: block;
        width: 140px;
        max-width: 100%;
        position: absolute;
        top: 90px;
        left: -100px;
        z-index: 2;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 78px;
          left: 0px;
          width: 40px;
        }
      }
    }

    .p-companyHistory__rightTop {
      h3 {
        padding-left: 2rem;
        padding-bottom: 2rem;
        border-left: 1px solid #407897;
        font-size: 32px;
        line-height: 1;

        @include global.max-screen(global.$breakpoint_pc) {
          padding-top: 0px;
          padding-right: 34px;
        }
      }

      span {
        color: #666766;
        letter-spacing: 0.1em;
        display: block;
        font-weight: normal !important;
        line-height: 1;
        font-size: 16px;
        padding-bottom: 10px;
      }
    }

    .p-companyHistory__rightBottom {
      padding-left: 2rem;
      padding-top: 2rem;
      border-left: 1px solid #407897;
      border-top: 1px solid #407897;
      line-height: 2;
      letter-spacing: 0em;
      font-size: 16px;

      @include global.max-screen(global.$breakpoint_pc) {
        padding-bottom: 0px;
        padding-right: 34px;
      }
      p {
        max-width: 602px;

        @include global.max-screen(global.$breakpoint_pc) {
          max-width: 100%;
        }
      }
    }
  }

  &:nth-child(2n + 1) {
    .p-companyHistory__left {
      width: 420px;
      height: 100%;
      z-index: 2;

      @include global.max-screen(global.$breakpoint_pc) {
        padding-bottom: 0;
        width: calc(100% - 14px);
        height: 296px;
      }
    }

    .p-companyHistory__leftImg {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      z-index: 1;
    }

    .p-companyHistory__right {
      width: calc(100% - 420px);
      padding-left: 4rem;
      position: relative;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 100%;
        padding-left: 14px;
      }

      &::before {
        content: "";
        height: 1px;
        background: #407897;
        display: block;
        width: 68px;
        max-width: 100%;
        position: absolute;
        top: 90px;
        left: -1px;
        z-index: 2;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 78px;
          width: 60px;
          left: 0px;
        }
      }

      &::after {
        content: "";
        height: 1px;
        background: #407897;
        display: block;
        width: 100px;
        position: absolute;
        top: 90px;
        right: -100px;
        z-index: 2;
        max-width: 100%;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 78px;
          right: 0px;
          width: 40px;
        }
      }
    }

    .p-companyHistory__rightTop {
      h3 {
        padding-left: 2rem;
        padding-bottom: 2rem;
        border-left: 1px solid #407897;
        font-size: 32px;
        line-height: 1;

        @include global.max-screen(global.$breakpoint_pc) {
          padding-top: 0px;
          padding-right: 34px;
        }
      }

      span {
        color: #666766;
        letter-spacing: 0.1em;
        font-weight: normal !important;
        display: block;
        font-size: 16px;
        line-height: 1;
        padding-bottom: 10px;
      }
    }

    .p-companyHistory__rightBottom {
      padding-left: 2rem;
      padding-top: 2rem;
      border-left: 1px solid #407897;
      border-top: 1px solid #407897;
      line-height: 2;
      letter-spacing: 0em;
      font-size: 16px;

      p {
        max-width: 602px;

        @include global.max-screen(global.$breakpoint_pc) {
          max-width: 100%;
        }
      }
      @include global.max-screen(global.$breakpoint_pc) {
        padding-bottom: 0px;
        padding-right: 34px;
      }
    }
  }

  &:nth-child(1) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-01.png);
    }
  }

  &:nth-child(2) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-02.png);
    }
  }

  &:nth-child(3) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-03.png);
    }
  }

  &:nth-child(4) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-04.png);
    }
  }

  &:nth-child(5) {
    .p-companyHistory__leftImg {
      background-image: url(#{global.$path_img}/normal/1x/company/company-history-05.png);
    }
  }
}

.webp {
  .p-companyHistory__item {
    &:nth-child(1) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}webp/1x/company/company-history-01.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/company/company-history-01.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-01@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/company/company-history-01.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-01@2x.webp) 2x
        );
      }
    }
    &:nth-child(2) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}webp/1x/company/company-history-02.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/company/company-history-02.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-02@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/company/company-history-02.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-02@2x.webp) 2x
        );
      }
    }
    &:nth-child(3) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}webp/1x/company/company-history-03.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/company/company-history-03.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-03@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/company/company-history-03.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-03@2x.webp) 2x
        );
      }
    }
    &:nth-child(4) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}webp/1x/company/company-history-04.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/company/company-history-04.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-04@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/company/company-history-04.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-04@2x.webp) 2x
        );
      }
    }
    &:nth-child(5) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}webp/1x/company/company-history-05.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/company/company-history-05.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-05@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/company/company-history-05.webp) 1x,
          url(#{global.$path_img}webp/2x/company/company-history-05@2x.webp) 2x
        );
      }
    }
  }
}

.no-webp {
  .p-companyHistory__item {
    &:nth-child(1) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}normal/1x/company-history-01.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/company-history-01.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-01@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/company-history-01.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-01@2x.png) 2x
        );
      }
    }
    &:nth-child(2) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}normal/1x/company-history-02.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/company-history-02.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-02@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/company-history-02.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-02@2x.png) 2x
        );
      }
    }
    &:nth-child(3) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}normal/1x/company-history-03.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/company-history-03.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-03@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/company-history-03.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-03@2x.png) 2x
        );
      }
    }
    &:nth-child(4) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}normal/1x/company-history-04.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/company-history-04.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-04@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/company-history-04.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-04@2x.png) 2x
        );
      }
    }
    &:nth-child(5) {
      .p-companyHistory__leftImg {
        background-image: url(#{global.$path_img}normal/1x/company-history-05.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/company-history-05.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-05@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/company-history-05.png) 1x,
          url(#{global.$path_img}normal/2x/company-history-05@2x.png) 2x
        );
      }
    }
  }
}
