@use "../../global" as global;

.c-section-title {
  color: #2f3449;
  text-align: center;
  font-size: 30px;
  line-height: 1;


  @include global.max-screen(global.$breakpoint_pc) {
   font-size: 20px;
  }
}
