@use "../../../global" as global;

.p-new__wrap {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 100%;
  padding-bottom: 6rem;

  a {
    display: block;
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

.p-news__name {
  line-height: 2;
  position: relative;
  padding-right: 50px;
  &::before {
    content: "";
    position: absolute;
    background-image: url(#{global.$path_img}/svg/arrow-black.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 31px;
    width: 19px;
    transition: 0.3s all;
    @include global.max-screen(global.$breakpoint_pc) {
      right: 10px;
      height: 15.5px;
      width: 8px;
    }
  }

  &:hover {
    color: #b5af41;

    &::before {
      right: 0px;
      background-image: url(#{global.$path_img}/svg/arrow-yellow.svg);
    }
  }
}

.p-singleNews {
}


.p-singleNews__top {
  border-bottom: 1px solid #262120;
  padding-left: 120px;
  margin-right: 120px;
  h2 {
    font-weight: normal;
    font-size: 2rem;
    padding-right: 80px;
    padding-left: 2rem;
    border-left: 1px solid #262120;
    width: 1160px;
    max-width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    line-height: calc(48 / 32);

    @include global.max-screen(1300px) {
      width: calc(100% - 120px);
    }

    @include global.max-screen(global.$breakpoint_pc) {
      width: calc(100% - 20px);
    }
  }

  @include global.max-screen(global.$breakpoint_pc) {
    padding-left: 20px;
    margin-right: 20px;
  }
}

.p-singleNews__bottom {
  margin-left: 120px;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 80px;
  border-left: 1px solid #262120;
  width: 1160px;
  max-width: 100%;

  @include global.max-screen(1300px) {
    width: calc(100% - 120px);
  }

  @include global.max-screen(global.$breakpoint_pc) {
    margin-left: 20px;
    width: calc(100% - 20px);
    padding-right: 20px;
  }

  time {
    font-size: 16px;
  }
}

.p-singleNews__content {
  margin-top: 1rem;
}

.p-singleNews__btn {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.p-newsBreadcrumb {
  top: 60px !important;

  @include global.max-screen(global.$breakpoint_pc) {
    top: 20px !important;
  }
}

.Pagenation {
  margin-top: 7rem;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
  }

  li {
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.1rem;
    color: #666666;
    font-weight: bold;
    max-width: 100%;

    @include global.max-screen(global.$breakpoint_pc) {
      font-size: 40px;
    }

    &:first-child {
      & span {
        &::before {
          display: none;
        }
      }
    }

    &:last-child {
      & span {
        &::after {
          display: none;
        }
      }
    }

    a {
      display: block;
      font-weight: normal;
      &.page-numbers {
        margin-left: 40px;

        @include global.max-screen(global.$breakpoint_pc) {
          margin-left: 20px;
        }
      }
    }

    span {
      font-weight: normal;
      &.prev {
        width: 19px;
        height: 30px;
        display: inline-block;
        background-image: url(#{global.$path_img}/svg/arrow-page.svg);
        transition: 0.3s ease-out;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 3px;
        &:hover {
          background-image: url(#{global.$path_img}/svg/arrow-page.svg);
        }
      }

      &.next {
        width: 19px;
        height: 30px;
        display: inline-block;
        background-image: url(#{global.$path_img}/svg/arrow-page.svg);
        transition: 0.3s ease-out;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        rotate: 180deg;
        margin-bottom: 3px;

        &:hover {
          background-image: url(#{global.$path_img}/svg/arrow-page.svg);
        }
      }

      &.dots {
        color: #666;
        font-size: 70px;
        letter-spacing: -0.3em;
        margin-left: 24px;
        margin-right: -45px;
        margin-top: -60px;
        display: block;
      }

      &.current {
        background-color: #4190b7;
        border-radius: 100px;
        margin-left: 40px;
        width: 60px;
        height: 60px;
        display: inline-block;
        text-align: center;
        line-height: 60px;
        position: relative;
        padding-left: 3px;
        color: #ffffff;
        position: relative;

        @include global.max-screen(global.$breakpoint_pc) {
          margin-left: 20px;
        }

        &::after {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          content: "";
          background: #666666;
          top: 50%;
          right: -24px;
          transform: translateY(-50%);

          @include global.max-screen(global.$breakpoint_pc) {
            right: -16px;
          }
        }

        &::before {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          content: "";
          background: #666666;
          top: 50%;
          left: -27px;
          transform: translateY(-50%);

          @include global.max-screen(global.$breakpoint_pc) {
            left: -18px;
          }
        }
      }
    }
  }
}
