@use "../global" as global;

.l-breadcrumb {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 55px;
  right: 120px;
  font-size: 12px;
  color: #555555;

  @include global.max-screen(global.$breakpoint_pc) {
    right: 14px;
    top: 261px;
    font-size: 10px;
    letter-spacing: 0em;
  }
  span {
    display: block;
  }
}

.p-news-breadcrumb {
  @include global.max-screen(global.$breakpoint_pc) {
    top: 225px !important;
  }
}

.p-recruit-breadcrumb{
  @include global.max-screen(global.$breakpoint_pc) {
    top: 261px !important;
  }
}
