@use "../global" as global;

.l-breadcrumb {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 95px;
  right: 120px;
  font-size: 12px;

  @include global.max-screen(global.$breakpoint_pc) {
    right: 15px;
    top: 65px;
    font-size: 10px;
  }
  span {
    display: block;
  }
}
