@use "../global" as global;

.l-page-FV {
}

.l-page-FV__wrap {
  display: flex;


}

.l-page-FV__left {
  background: #1e2b35;
  padding: 4rem;

  @include global.max-screen(global.$breakpoint_pc) {
    padding: 2rem;
  }

  h1 {
    font-size: 40px;
    color: #ffffff;
    font-weight: normal;
  }

  img {
    width: 312px;
    margin-top: 5px;
  }

  p {
    font-weight: normal;
    width: 312px;
  }
}

.l-page-FV__desc {
  width: calc(68% - 163px - 64px);
  max-width: 1040px;
  margin-top: 85px;
  margin-left: 4rem;
  line-height: 2;
  font-size: 1rem;
  margin-right: 10rem;

  @include global.max-screen(global.$breakpoint_pc) {
    width: calc(68% - 15px - 15px);
    font-size: 12px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 50px;
    line-height: 1.2;
  }
}
