@use "../../global" as global;

.l-header {
}

.l-headerPC {
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: global.$c--white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.l-headerPC__logo {
  width: 300px;
  height: 45px;
  img {
    width: 300px;
    height: 45px;
  }
}

.l-headerPC__nav {
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 45px;
  }

  li {
    display: block;
    font-size: 17px;
    color: #545454;

    &:not(:first-child) {
      a {
        padding-left: 20px;
        border-left: 1px solid #545454;
      }
    }

    a {
      padding-right: 20px;
      letter-spacing: 0;
    }

    &:last-child {
      position: relative;
      .l-header-contact {
        background-color: #232323;
        border-left: none;
        color: global.$c--white;
        padding-top: 13.5px;
        padding-bottom: 13.5px;
        padding-left: 30px;
        padding-right: 36px;
        line-height: 1;
        letter-spacing: 0;
      }

      .l-header-contact-blue {
        position: absolute;
        bottom: -45px;
        right: 0;
        width: 100%;
        a {
          padding-left: 20px;
          padding-right: 40px;
          border-left: none !important;
        }
      }
    }
  }
}
