@use "../../global" as global;

.l-header {
}

.l-headerPC {
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: global.$c--white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  @include global.max-screen(global.$breakpoint_pc) {
    display: none;
  }
}

.l-headerPC__logo {
  width: 300px;
  height: 45px;
  img {
    width: 300px;
    height: 45px;
  }
}

.l-headerPC__nav {
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 45px;
  }

  li {
    display: block;
    color: #545454;

    &:not(:first-child) {
      a {
        padding-left: 20px;
        border-left: 1px solid #545454;

        @include global.max-screen(1070px) {
          padding-left: 10px;
        }
      }
    }

    a {
      letter-spacing: 0em;
      padding-right: 20px;

      @include global.max-screen(1070px) {
        padding-right: 10px;
      }
    }

    &:last-child {
      position: relative;
      top: 22.5px;
      // header用ボタン
      .cube {
        height: 45px;
        width: 180px;
        position: relative;
        margin: 0 auto;
      }

      .cube div {
        height: 45px;
        width: 180px;
        position: absolute;
        color: #fff;
        text-align: center;
        line-height: 45px;
      }

      .side_front {
        background: #282828;
        top: 0px;
        left: 0px;
        transform: translateZ(90px);
        letter-spacing: 0em;
      }

      .side_front2 {
        text-align: left !important;
        background: #4190b7;
        top: 0px;
        left: 0px;
        transform: translateZ(90px);
        font-size: 24px;
        line-height: 20px;
        padding-left: 20px;
        letter-spacing: -0.01em;

        &::before {
          content: "";
          position: absolute;
          background-image: url(#{global.$path_img}/svg/arrow-white.svg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          z-index: 15;
          height: 32px;
          width: 20px;
        }
      }

      .side_right {
        background: #6b6b6b;
        top: 0px;
        right: -90px;
        transform: rotateY(90deg);
        letter-spacing: 0em;
      }

      .side_left {
        background: #b5af41;
        top: 0px;
        left: -90px;
        transform: rotateY(-90deg);
        font-size: 24px;
        padding-left: 20px;
        text-align: left !important;
        letter-spacing: -0.01em;

        &::before {
          content: "";
          position: absolute;
          background-image: url(#{global.$path_img}/svg/arrow-white.svg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          z-index: 15;
          height: 32px;
          width: 20px;
          pointer-events: none;
        }
      }

      .cube {
        height: 45px;
        width: 180px;
        position: relative;
        margin: 0 auto;
        transform-style: preserve-3d;
        transition: all 0.3s;
      }

      .stage__wrap {
        display: block;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: none !important;
        &:hover {
          .stage {
            &:nth-child(2) {
              .cube {
                transform: rotateY(90deg) !important;
              }
            }
            &:nth-child(1) {
              .cube {
                transform: rotateY(-90deg) !important;
              }
            }
          }
        }
      }
    }
  }
}
