@use "../../global" as global;

.l-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.l-footer__wrap {
  background-color: #3f4145;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;

  @include global.max-screen(global.$breakpoint_pc) {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.l-footer-tel {
  display: inline-block;
  font-size: 21px;
  letter-spacing: 0.075em;
  margin-top: 27px;
  padding-left: 40px;
  position: relative;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 17px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(#{global.$path_img}normal/1x/common/tel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    z-index: 15;
    height: 30px;
    width: 30px;
  }
}

.webp {
  .l-footer-tel {
    &::before {
      background-image: url(#{global.$path_img}webp/1x/common/tel.webp);
      background-image: image-set(
        url(#{global.$path_img}webp/1x/common/tel.webp) 1x,
        url(#{global.$path_img}webp/2x/common/tel@2x.webp) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}webp/1x/common/tel.webp) 1x,
        url(#{global.$path_img}webp/2x/common/tel@2x.webp) 2x
      );
    }
  }
}

.no-webp {
  .l-footer-tel {
    &::before {
      background-image: url(#{global.$path_img}normal/1x/common/tel.jpg);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/common/tel.jpg) 1x,
        url(#{global.$path_img}normal/2x/common/tel@2x.jpg) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/common/tel.jpg) 1x,
        url(#{global.$path_img}normal/2x/common/tel@2x.jpg) 2x
      );
    }
  }
}

.l-footer__access {
  margin-top: 20px;
  line-height: calc(32 / 16);
  letter-spacing: 0.075em;
}

.l-footer__time {
  font-size: 10px;
}

.l-footerTotop {
  position: fixed; /*固定*/
  z-index: 30;
  right: 100px;
  cursor: pointer;

  @include global.max-screen(global.$breakpoint_pc) {
    right: 0px;
  }
}

.l-footerTotop__arrow {
  background-color: global.$c--accent;
  width: 70px;
  height: 40px;
  &::before {
    content: "";
    position: absolute;
    background-image: url(#{global.$path_img}/svg/arrow-white.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 5px;
    right: 25px;
    height: 32px;
    width: 20px;
    rotate: -90deg;
  }
}

.l-footerTotop__font {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0em;
  background: #282828;
  width: 70px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.footerFixed {
  padding-bottom: 269px;
  position: relative;
  min-height: calc(100vh - 45px);

  @include global.max-screen(global.$breakpoint_pc) {
    padding-bottom: 225.5px;
  }
}
