@use "../../../global" as global;

.p-singleRecruit {
}

.p-singleRecruit__wrap {
  margin-left: 120px;
  padding-left: 32px;
  padding-right: 80px;
  border-left: 1px solid #407897;
  width: 1160px;
  max-width: 100%;

  @include global.max-screen(1300px) {
    width: calc(100% - 120px);
  }

  @include global.max-screen(global.$breakpoint_pc) {
    width: calc(100% - 20px);
    margin-left: 20px;
    padding-right: 20px;
  }
}

.p-singleRecruit__item {
  display: flex;
  align-items: center;

  &:nth-child(2n) {
    background-color: #d9e2e8;
  }

  &:first-child {
    padding-top: 4rem;
  }
}

.p-singleRecruit__left {
  text-align: right;
  width: 200px;
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;

  @include global.max-screen(global.$breakpoint_pc) {
    width: 100px;
  }
}

.p-singleRecruit__right {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 1px solid #407897;
  padding-left: 2rem;
  padding-right: 2rem;
  width: calc(100% - 200px);
  max-width: 100%;

  @include global.max-screen(global.$breakpoint_pc) {
    width: calc(100% - 100px);
  }
}
