@use "../../../global" as global;

.p-singleRecruit {
}

.p-singleRecruit__wrap {
  margin-left: 120px;
  padding-left: 2rem;
  padding-right: 80px;
  border-left: 1px solid #262120;
  width: 1160px;
  max-width: 100%;
}

.p-singleRecruit__item {
  display: flex;
  align-items: center;

  &:nth-child(2n) {
    background-color: #d9e2e8;
  }

  &:first-child{
    padding-top: 4rem;
  }
}

.p-single__left {
  font-size: 1rem;
  text-align: right;
  width: 200px;
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.p-single__right {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 1px solid #567894;
  font-size: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: calc(100% - 200px);
}
