@use "../../../global" as global;

.p-frontContact {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 100%;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 8vw;
  }

  h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #2f3449;
    font-size: 2rem;
    line-height: calc(48 / 32);
    letter-spacing: 0;

    span {
      line-height: calc(28 / 16);
      letter-spacing: 0.1em;
      font-weight: normal;
      font-size: 16px;

      @include global.max-screen(global.$breakpoint_pc) {
        margin-bottom: 0px;
      }
    }
  }
}

.p-frontContact__wrap {
  margin-top: 4rem;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 8vw;
  }
}

.contactForm__control {
  display: flex;
  margin-top: 15px;

  @include global.max-screen(global.$breakpoint_pc) {
    display: block;

    &:not(:first-child) {
      margin-top: 55px;
    }
  }
}

.contactForm__left {
  display: flex;
  align-items: center;
  text-align: center;
  height: 33px;
}

.contactForm__text {
  width: 200px;
  cursor: pointer;
  padding-right: 50px;
  text-align: right;

  @include global.max-screen(global.$breakpoint_pc) {
    width: auto;
    padding-right: 10px;
  }
}

.contactForm__required {
  height: 33px;
  line-height: 33px;
  width: 55px;
  background-color: #282828;
  color: #ffffff;
}

.contactForm__blank {
  height: 33px;
  width: 55px;
}

.contactForm__right {
  width: 100%;

  input {
    padding-left: 10px;
    padding-right: 10px;
    height: 33px;
    border: 1px solid #282828;
    width: 100%;
    line-height: 33px;
    color: #666666;
  }

  select {
    padding-left: 10px;
    padding-right: 10px;
    height: 33px;
    border: 1px solid #282828;
    width: 100%;
    line-height: 33px;
    color: #666666;

    .placeholder {
      color: #666666;
    }
  }

  textarea {
    border: 1px solid #282828;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    line-height: 33px;
    border-radius: 0 !important;
    color: #666666;
    height: 140px;
    resize: none !important;
  }
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none; /* デフォルトの矢印を非表示 */
}
select::-ms-expand {
  display: none; /* デフォルトの矢印を非表示(IE用) */
}

.contact-select-box {
  position: relative;
}
/* セレクトボックスの矢印デザイン変更 */

.contact-select-box::after {
  content: "";
  position: absolute;
  background-image: url(#{global.$path_img}/svg/contact-arrow.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 10px;
  z-index: 0;
  height: 14px;
  width: 23px;
  content: "";
  position: absolute;
  right: 9px;
  pointer-events: none;
}

.contactForm__btn {
  margin-top: 4rem;
  text-align: center;

  .stage {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    width: 150px;
    cursor: pointer;
    &:hover {
      .cube {
        transform: rotateY(90deg);
      }
    }
  }

  input {
    display: block;
    color: #fff;
    background: #b5af41;
    letter-spacing: 0em;
    font-size: 1.5rem;
    border: none !important;
    width: 150px;
    height: 45px;
    cursor: pointer;
  }

  // 送信ボタンの設置
  .cube {
    height: 45px;
    width: 150px;
    position: relative;
    margin: 0 auto;
    letter-spacing: -0.01em;
  }

  .cube div {
    height: 45px;
    width: 150px;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 45px;
  }

  .side_front2 {
    background: #4190b7;
    top: 0px;
    left: 0px;
    transform: translateZ(75px);
    letter-spacing: -0.01em;
    font-size: 1.5rem;
    line-height: 45px;
    padding-right: 20px;

    &::before {
      content: "";
      position: absolute;
      background-image: url(#{global.$path_img}/svg/arrow-white.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      z-index: 15;
      height: 32px;
      width: 20px;
    }
  }

  .side_left {
    background: #b5af41;
    top: 0px;
    left: -75px;
    transform: rotateY(-90deg);
    letter-spacing: -0.01em;
    font-size: 1.5rem;
    line-height: 86px;
    padding-right: 20px;

    &::before {
      content: "";
      position: absolute;
      background-image: url(#{global.$path_img}/svg/arrow-white.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      z-index: 15;
      height: 32px;
      width: 20px;
      pointer-events: none;
    }
  }

  .cube {
    height: 45px;
    width: 150px;
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: all .3s;
  }
}

// コンタクトページの記述

.contact-page {
  margin-bottom: 6rem;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-bottom: 300px;
  }
}

.wpcf7-not-valid-tip{
 display: block;
}

// .wpcf7-response-output{
//   display: none;
// }

.wpcf7-spinner{
  display: none;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
