@use "../../../global" as global;

.p-frontFV {
  position: relative;
  height: calc(100vh - 45px);
  min-height: 650px;

  @include global.max-screen(global.$breakpoint_pc) {
    max-height: 979px;
    min-height: initial;
  }
}

.p-FV__wrap {
  height: calc(100vh - 45px);
  min-height: 650px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;

  @include global.max-screen(global.$breakpoint_pc) {
    max-height: 979px;
    min-height: initial;
  }
}

.p-frontFV__right {
  position: absolute;
  top: 0;
  right: 0;
  color: global.$c--white;
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  z-index: 4;
  padding-top: 3.2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  width: 540px;

  @include global.max-screen(global.$breakpoint_pc) {
    height: 260px;
    top: initial;
    bottom: 20px;
    width: calc(100vw - 32px);
    max-width: 100%;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    right: 50%;
    transform: translateX(50%);
  }

  .p-frontFV__btn {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;

    a {
      display: inline-block;
      position: relative;
      background-color: global.$c--accent;
      color: global.$c--white;
      font-size: 1.5rem;
      padding-right: 40px;
      padding-left: 22px;
      line-height: 1;
      padding-top: 12px;
      padding-bottom: 12px;
      letter-spacing: 0em;

      &::before {
        content: "";
        position: absolute;
        background-image: url(#{global.$path_img}/svg/arrow-white.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        z-index: 15;
        height: 32px;
        width: 20px;
      }
    }
  }

  h2 {
    line-height: 1;
    font-size: 2.5rem;
    letter-spacing: -0.01em;

    @include global.max-screen(global.$breakpoint_pc) {
      font-size: 23px;
    }
  }

  img {
    width: 345px;
    margin-top: 15px;

    @include global.max-screen(global.$breakpoint_pc) {
      height: 110px;
      margin-top: 7.5px;
    }
  }

  p {
    font-size: 1rem;
    margin-top: 16px;
    line-height: 2;
    letter-spacing: 0.1em;

    @include global.max-screen(global.$breakpoint_pc) {
      font-size: 9px;
      margin-top: 7.5px;
      line-height: 1.8;
    }
  }
}

.p-frontFV__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  z-index: 5;
  display: flex;

  @include global.max-screen(global.$breakpoint_pc) {
    position: relative;
    top: -5px;
    bottom: initial;
    background: none;
  }
}

.p-frontFV__news {
  width: 100%;
  line-height: 1;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include global.max-screen(global.$breakpoint_pc) {
    padding-left: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  a {
    display: inline-block;
    &:not(:nth-child(1)) {
      padding-top: 11px;

      @include global.max-screen(global.$breakpoint_pc) {
        padding-top: 5.5px;
      }
    }
  }
}

.p-frontFV__left {
  width: 164px;
  display: flex;
  padding-right: 10px;
  white-space: nowrap;
}

.p-frontFVNews__item {
  display: flex;
  height: 31px;
  line-height: 31px;
  align-items: center;

  @include global.max-screen(global.$breakpoint_pc) {
    display: block;
    font-size: 12px;
  }
}

.p-frontFVNews__time {
  @include global.max-screen(global.$breakpoint_pc) {
    line-height: 1;
  }
}

.p-frontFVNews__type {
  padding-left: 10px;
  @include global.max-screen(global.$breakpoint_pc) {
    padding-left: 5px;
    line-height: 1;
  }
}

.p-frontFVNews__name {
  position: relative;
  letter-spacing: 0em;
  padding-right: 4rem;
  transition: 0.3s all;
  width: 605px;

  @include global.max-screen(global.$breakpoint_pc) {
    padding-right: 39px;
    line-height: 15.5px;
    padding-top: 2px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(#{global.$path_img}/svg/arrow-black.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 31px;
    width: 19px;
    transition: 0.3s all;
    @include global.max-screen(global.$breakpoint_pc) {
      right: 20px;
      height: 15.5px;
      width: 8px;
    }
  }

  &:hover {
    color: #b5af41;

    &::before {
      right: -0px;
      background-image: url(#{global.$path_img}/svg/arrow-yellow.svg);
    }
  }
}

.p-frontFV__bottom {
  // FV用ボタン

  .stage {
    height: 50%;
  }

  .cube {
    width: 150px;
    position: relative;
    margin: 0 auto;
    height: 100%;

    @include global.max-screen(global.$breakpoint_pc) {
      width: 75px;
    }
  }

  .cube div {
    width: 150px;
    position: absolute;
    color: #fff;
    height: 100%;
    text-align: center;

    @include global.max-screen(global.$breakpoint_pc) {
      width: 75px;
    }
  }

  .side_front {
    background: #282828;
    top: 0px;
    left: 0px;
    height: 100%;
    transform: translateZ(75px);
    letter-spacing: 0em;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include global.max-screen(global.$breakpoint_pc) {
      transform: translateZ(37.5px);
      font-size: 10px;
    }
  }

  .side_front2 {
    background: #4190b7;
    top: 0px;
    left: 0px;
    transform: translateZ(75px);
    letter-spacing: -0.01em;
    font-size: 1.5rem;
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include global.max-screen(global.$breakpoint_pc) {
      transform: translateZ(37.5px);
      font-size: 14px;
      padding-right: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url(#{global.$path_img}/svg/arrow-white.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      z-index: 15;
      height: 32px;
      width: 20px;

      @include global.max-screen(global.$breakpoint_pc) {
        right: 5px;
        height: 16px;
        width: 10px;
      }
    }
  }

  .side_right {
    background: #6b6b6b;
    top: 0px;
    height: 100%;
    right: -75px;
    transform: rotateY(90deg);
    letter-spacing: 0em;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include global.max-screen(global.$breakpoint_pc) {
      right: -37.5px;
      font-size: 10px;
    }
  }

  .side_left {
    height: 100%;
    background: #b5af41;
    top: 0px;
    left: -75px;
    transform: rotateY(-90deg);
    letter-spacing: -0.01em;
    font-size: 1.5rem;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include global.max-screen(global.$breakpoint_pc) {
      left: -37.5px;
      font-size: 14px;
      padding-right: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url(#{global.$path_img}/svg/arrow-white.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      z-index: 15;
      height: 32px;
      width: 20px;

      @include global.max-screen(global.$breakpoint_pc) {
        right: 5px;
        height: 16px;
        width: 10px;
      }
    }
  }

  .cube {
    width: 150px;
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: all 0.3s;

    @include global.max-screen(global.$breakpoint_pc) {
      width: 75px;
    }
  }

  .stage__wrap {
    display: block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    &:hover {
      .stage {
        &:nth-child(2) {
          .cube {
            transform: rotateY(90deg) !important;
          }
        }
        &:nth-child(1) {
          .cube {
            transform: rotateY(-90deg) !important;
          }
        }
      }
    }
  }
}
