@use "../../../global" as global;

.p-frontMap {
  margin-top: 65px;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 8vw;
  }
}

.gmap iframe {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
  bottom: -5px;
  max-height: 350px;

  @include global.max-screen(global.$breakpoint_pc) {
    max-height: 175px;
  }
}
