@use "../../../global" as global;

.p-frontMap {
  margin-top: 4rem;
}

.gmap iframe {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
  bottom: -5px;
  max-height: 350px;

  @include global.max-screen(global.$breakpoint_pc) {
    max-height: 180px;
    aspect-ratio: 25/12;
  }
}
