@use "../../../global" as global;

.p-frontMenu {
  margin-top: 4rem;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 8vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.p-frontMenu__wrap {
  display: flex;
  height: 24rem;

  @include global.max-screen(global.$breakpoint_pc) {
    display: block;
  }
}

.p-frontMenu__itemTop {
  display: block;
  width: 50%;
  background-size: cover;
  background-position: top -10px;
  background-repeat: no-repeat;
  height: 100%;

  @include global.max-screen(global.$breakpoint_pc) {
    width: 100%;
    background-position: top;
    height: 48vw;
  }
  background-image: url(#{global.$path_img}/normal/1x/front/front-company-factory-01.jpg);
  position: relative;

  .p-frontMenu__dark {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 100%;

    &:hover {
      background: rgba(0, 0, 255, 0);

      .stage {
        &:nth-child(2) {
          .cube {
            transform: rotateY(90deg) !important;
          }
        }
        &:nth-child(1) {
          .cube {
            transform: rotateY(-90deg) !important;
          }
        }
      }
    }
  }

  .p-frontMenu__dark {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 100%;

    &:hover {
      background: rgba(0, 0, 255, 0);

      .stage {
        &:nth-child(2) {
          .cube {
            transform: rotateY(90deg) !important;
          }
        }
        &:nth-child(1) {
          .cube {
            transform: rotateY(-90deg) !important;
          }
        }
      }
    }
  }
}

.p-frontMenu__itemBottom {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;

  @include global.max-screen(global.$breakpoint_pc) {
    flex-direction: row;
    width: 100%;
    height: 24vw;
  }
  .p-frontMenu__item {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include global.max-screen(global.$breakpoint_pc) {
      width: 50%;
      height: 100%;
    }

    .p-frontMenu__dark {
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: 0.3s ease-in-out;
      width: 100%;

      &:hover {
        background: rgba(0, 0, 255, 0);

        .stage {
          &:nth-child(2) {
            .cube {
              transform: rotateY(90deg) !important;
            }
          }
          &:nth-child(1) {
            .cube {
              transform: rotateY(-90deg) !important;
            }
          }
        }
      }
    }

    &:nth-child(1) {
      background-image: url(#{global.$path_img}/normal/1x/front/front-menu-02.png);
    }
    &:nth-child(2) {
      background-image: url(#{global.$path_img}/normal/1x/front/front-menu-03.png);
    }
  }
}

.p-frontMenu__btn {
  text-align: left;
  .cube {
    height: 45px;
    width: 150px;
    position: relative;
    margin: 0 auto;

    @include global.max-screen(global.$breakpoint_pc) {
      height: 22.5px;
      width: 75px;
    }
  }

  .cube div {
    height: 45px;
    width: 150px;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 45px;
    @include global.max-screen(global.$breakpoint_pc) {
      height: 22.5px;
      width: 75px;
      line-height: 22.5px;
    }
  }

  .side_front {
    background: #282828;
    top: 0px;
    left: 0px;
    transform: translateZ(75px);
    letter-spacing: 0em;
    font-size: 1rem;
    line-height: 45px;

    @include global.max-screen(global.$breakpoint_pc) {
      transform: translateZ(37.5px);
      font-size: 10px;
      line-height: 22.5px;
    }
  }

  .side_front2 {
    background: #4190b7;
    top: 0px;
    left: 0px;
    transform: translateZ(75px);
    letter-spacing: 0em;
    font-size: 1.5rem;
    line-height: 45px;
    padding-right: 20px;

    @include global.max-screen(global.$breakpoint_pc) {
      transform: translateZ(37.5px);
      font-size: 14px;
      line-height: 22.5px;
      padding-right: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url(#{global.$path_img}/svg/arrow-white.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      z-index: 15;
      height: 32px;
      width: 20px;

      @include global.max-screen(global.$breakpoint_pc) {
        right: 5px;
        height: 16px;
        width: 10px;
      }
    }
  }

  .side_right {
    background: #6b6b6b;
    top: 0px;
    right: -75px;
    transform: rotateY(90deg);
    letter-spacing: 0em;
    font-size: 1rem;
    line-height: 86px;

    @include global.max-screen(global.$breakpoint_pc) {
      right: -37.5px;
      font-size: 10px;
    }
  }

  .side_left {
    background: #b5af41;
    top: 0px;
    left: -75px;
    transform: rotateY(-90deg);
    letter-spacing: 0em;
    font-size: 1.5rem;
    line-height: 86px;
    padding-right: 20px;

    @include global.max-screen(global.$breakpoint_pc) {
      left: -37.5px;
      font-size: 14px;
      padding-right: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url(#{global.$path_img}/svg/arrow-white.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      z-index: 15;
      height: 32px;
      width: 20px;

      @include global.max-screen(global.$breakpoint_pc) {
        right: 5px;
        height: 16px;
        width: 10px;
      }
    }
  }

  .cube {
    height: 45px;
    width: 150px;
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: all 0.3s;

    @include global.max-screen(global.$breakpoint_pc) {
      height: 22.5px;
      width: 75px;
    }
  }

  .stage__wrap {
    display: inline-block;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
