@use "../../../global" as global;

.p-frontRecruit {
  margin-top: 64px;
}

.p-frontRecruit__title {
  img {
    width: 355px;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-frontRecruit__topWrap {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  p {
    margin-top: 64px;
    font-size: 16px;
  }
}

.p-frontRecruit__btn {
  text-align: right;
}

.p-frontRecruit__btnBlack {
  text-align: center;
}

.p-frontRecruit__btnBlue {
}

.p-frontRecruit__imgWrap {
  margin-top: 64px;
  max-width: 100%;
  display: flex;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.p-frontRecruit__item {
  width: 33.333333333%;
  background-size: cover;
  background-position: center;
  height: 230px;
  background-repeat: no-repeat;
  position: relative;

  &:nth-child(1) {
    background-image: url(#{global.$path_img}/normal/1x/common/rectangle.png);
  }
  &:nth-child(2) {
    background-image: url(#{global.$path_img}/normal/1x/common/rectangle.png);
  }
  &:nth-child(3) {
    background-image: url(#{global.$path_img}/normal/1x/common/rectangle.png);
  }
}
