@use "../../../global" as global;

.p-frontRecruit {
  margin-top: 4rem;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 8vw;
  }
}

.p-frontRecruit__title {
  img {
    width: 355px;
    margin-left: auto;
    margin-right: auto;

    @include global.max-screen(global.$breakpoint_pc) {
      width: 100%;
    }
  }
}

.p-frontRecruit__topWrap {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  p {
    margin-top: 4rem;
    line-height: 2;

    @include global.max-screen(global.$breakpoint_pc) {
      margin-top: 80px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.p-frontRecruit__btn {
  text-align: center;
  margin-top: 35px;
}

.p-frontRecruit__imgWrap {
  margin-top: 4rem;
  max-width: 100%;
  display: flex;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 65px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.p-frontRecruit__item {
  width: 33.333333333%;
  background-size: cover;
  background-position: center;
  height: 230px;
  background-repeat: no-repeat;
  position: relative;

  @include global.max-screen(global.$breakpoint_pc) {
    height: 75px;
  }

  &:nth-child(1) {
    background-image: url(#{global.$path_img}/normal/1x/front/front-recruit-01.png);
  }
  &:nth-child(2) {
    background-image: url(#{global.$path_img}/normal/1x/front/front-recruit-02.png);
  }
  &:nth-child(3) {
    background-image: url(#{global.$path_img}/normal/1x/front/front-recruit-03.png);
  }
}
