@use "../../../global" as global;

.p-frontStrength {
  margin-top: 4rem;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 1043px;
  }
}

.p-frontStrength__wrap {
}

.p-frontStrength__top {
  border-bottom: 1px solid #407897;
}

.p-frontStrength__topItem {
  width: 834px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #407897;
  max-width: 100%;

  @include global.max-screen(global.$breakpoint_pc) {
    width: calc(100% - 28px);
  }

  span {
    display: block;
    padding-left: 2rem;
    padding-bottom: 2rem;
    line-height: calc(48 / 32);
    font-size: 2rem;
    letter-spacing: 0;
    color: #2f3449;

    @include global.max-screen(global.$breakpoint_pc) {
      padding-left: 27px;
      padding-bottom: 10px;
      font-size: 24px;
    }
  }
}

.p-frontStrength__bottom {
}

.p-frontStrength__bottomItem {
  width: 834px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #407897;
  max-width: 100%;

  @include global.max-screen(global.$breakpoint_pc) {
    width: calc(100% - 28px);
  }

  span {
    display: block;
    padding-left: 2rem;
    padding-top: 2rem;
    line-height: 2;

    @include global.max-screen(global.$breakpoint_pc) {
      padding-left: 27px;
      padding-top: 22px;
      padding-right: 43px;
    }
  }
}

.p-frontStrength__btn {
  text-align: right;
  @include global.max-screen(global.$breakpoint_pc) {
    text-align: center;
    position: absolute;
    padding-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
