@use "../../../global" as global;

.p-frontStrength {
  margin-top: 4rem;

  @include global.max-screen(global.$breakpoint_pc) {
    margin-top: 180px;
  }

  @include global.max-screen(global.$breakpoint_tb) {
    margin-top: 156px;
  }
}

.p-frontStrength__wrap {
}

.p-frontStrength__top {
  border-bottom: 1px solid #567894;
}

.p-frontStrength__topItem {
  width: 834px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #567894;
  max-width: 100%;

  @include global.max-screen(global.$breakpoint_pc) {
    width: 75%;
  }

  span {
    display: block;
    padding-left: 2rem;
    padding-bottom: 2rem;
    line-height: calc(48 / 32);
    font-size: 2rem;
    letter-spacing: 0;
    color: #2f3449;

    @include global.max-screen(global.$breakpoint_pc) {
      padding-left: 4vw;
      padding-bottom: 4vw;
    }
  }
}

.p-frontStrength__bottom {
}

.p-frontStrength__bottomItem {
  width: 834px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #567894;
  max-width: 100%;

  @include global.max-screen(global.$breakpoint_pc) {
    width: 75%;
  }

  span {
    display: block;
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1rem;
    line-height: 1;
    line-height: 2;

    @include global.max-screen(global.$breakpoint_pc) {
      padding-left: 4vw;
      padding-top: 4vw;
    }
  }
}

.p-frontStrength__btn {
  text-align: right;
  @include global.max-screen(global.$breakpoint_pc) {
    padding-top: 20px;
  }
}
