@use "../../../global" as global;

.p-strengthColumn {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.p-strengthColumn__list {
  margin-top: 4rem;
  padding-left: 90px;
  padding-right: 90px;

  @include global.max-screen(global.$breakpoint_pc) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.p-strengthColumn__item {
  display: flex;
  height: 313px;

  @include global.max-screen(global.$breakpoint_pc) {
    height: 100%;
    flex-direction: column !important;
    gap: 25px;
  }

  &:not(:first-child) {
    margin-top: 5rem;

    @include global.max-screen(global.$breakpoint_pc) {
      margin-top: 30px;
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    @include global.max-screen(global.$breakpoint_pc) {
    }

    .p-strengthColumn__left {
      width: 420px;
      height: 100%;

      @include global.max-screen(global.$breakpoint_pc) {
        width: calc(100% - 14px);
        padding-bottom: 0;
        height: 296px;
      }
    }

    .p-strengthColumn__leftImg {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    .p-strengthColumn__right {
      width: calc(100% - 420px);
      padding-right: 4rem;
      padding-left: 2.5rem;
      position: relative;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 100%;
        padding-left: 14px;
        padding-right: 34px;
      }
      &::before {
        content: "";
        height: 1px;
        background: #407897;
        display: block;
        width: 68px;
        max-width: 100%;
        position: absolute;
        top: 96px;
        right: -1px;
        z-index: 2;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 52px;
          width: 60px;
          right: 0px;
        }

        @include global.max-screen(420px) {
          top: 84px;
          width: 60px;
          right: 0px;
        }
      }

      &::after {
        content: "";
        height: 1px;
        background: #407897;
        display: block;
        width: 140px;
        max-width: 100%;
        position: absolute;
        top: 96px;
        left: -90px;
        z-index: 2;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 52px;
          left: 0px;
          width: 40px;
        }

        @include global.max-screen(420px) {
          top: 84px;
          width: 60px;
          right: 0px;
        }
      }
    }

    .p-strengthColumn__rightTop {
      h3 {
        padding-left: 2rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        border-left: 1px solid #407897;
        font-size: 32px;
        letter-spacing: 0em;
        line-height: 1;
        color: #2f3449;

        @include global.max-screen(global.$breakpoint_pc) {
          padding-top: 0px;
        }
      }
    }

    .p-strengthColumn__rightBottom {
      padding-left: 2rem;
      padding-top: 2rem;
      border-left: 1px solid #407897;
      border-top: 1px solid #407897;
      letter-spacing: 0em;
      font-size: 16px;

      @include global.max-screen(global.$breakpoint_pc) {
        padding-bottom: 0px;
      }

      p {
        line-height: 2;
        max-width: 602px;

        @include global.max-screen(global.$breakpoint_pc) {
          max-width: 100%;
        }
      }
    }
  }

  &:nth-child(2n + 1) {
    .p-strengthColumn__left {
      width: 420px;
      height: 100%;
      z-index: 2;

      @include global.max-screen(global.$breakpoint_pc) {
        width: calc(100% - 14px);
        padding-bottom: 0;
        height: 296px;
      }
    }

    .p-strengthColumn__leftImg {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      z-index: 1;
    }

    .p-strengthColumn__right {
      width: calc(100% - 420px);
      padding-left: 2.5rem;
      position: relative;

      @include global.max-screen(global.$breakpoint_pc) {
        width: 100%;
        padding-left: 14px;
        padding-right: 34px;
      }

      &::before {
        content: "";
        height: 1px;
        background: #407897;
        display: block;
        width: 68px;
        max-width: 100%;
        position: absolute;
        top: 96px;
        left: -1px;
        z-index: 1;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 52px;
          width: 80px;
          left: 0px;
        }
      }

      &::after {
        content: "";
        height: 1px;
        background: #407897;
        display: block;
        width: 100px;
        max-width: 100%;
        position: absolute;
        top: 96px;
        right: -90px;
        z-index: 2;

        @include global.max-screen(global.$breakpoint_pc) {
          top: 52px;
          right: 0px;
          width: 40px;
        }
      }
    }

    .p-strengthColumn__rightTop {
      h3 {
        padding-left: 2rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        border-left: 1px solid #407897;
        font-size: 32px;
        letter-spacing: 0em;
        line-height: 1;
        color: #2f3449;

        @include global.max-screen(global.$breakpoint_pc) {
          padding-right: 14px;
          padding-top: 0px;
        }
      }
    }

    .p-strengthColumn__rightBottom {
      padding-left: 2rem;
      padding-top: 2rem;
      border-left: 1px solid #407897;
      border-top: 1px solid #407897;
      font-size: 16px;
      letter-spacing: 0em;

      p {
        line-height: 2;
        max-width: 602px;

        @include global.max-screen(global.$breakpoint_pc) {
          max-width: 100%;
        }
      }

      @include global.max-screen(global.$breakpoint_pc) {
      }
    }
  }
}

  .p-strengthColumn__item {
    &:nth-child(1) {
      .p-strengthColumn__leftImg {
        background-image: url(#{global.$path_img}normal/1x/strength/strength-2column-01.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/strength/strength-2column-01.png) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-2column-01@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/strength/strength-2column-01.png) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-2column-01@2x.png) 2x
        );
      }
    }
    &:nth-child(2) {
      .p-strengthColumn__leftImg {
        background-image: url(#{global.$path_img}normal/1x/strength/strength-2column-02.png);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/strength/strength-2column-02.png) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-2column-02@2x.png) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/strength/strength-2column-02.png) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-2column-02@2x.png) 2x
        );
      }
    }
  }
