@use "../../../global" as global;

.p-strengthMenu {
  margin-top: 4rem;
}

.p-strengthMenu__wrap {
  display: flex;
  flex-wrap: wrap;

  @include global.max-screen(global.$breakpoint_pc) {
    display: block;
  }

  .p-strengthMenu__item {
    position: relative;
    display: block;
    width: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 175px;

    @include global.max-screen(global.$breakpoint_pc) {
      width: 100%;
    }
  }

  .p-strengthMenu__dark {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 100%;

    &:hover {
      background: rgba(0, 0, 255, 0);
    }
  }

  .p-strengthMenu__text {
    display: inline-block;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 5rem;

    @include global.max-screen(global.$breakpoint_pc) {
      padding-top: 40px;
      padding-left: 20px;
    }
    h3 {
      font-size: 32px;
      line-height: calc(48 / 32);
      color: #ffffff;
      letter-spacing: 0em;
      font-weight: normal;

      @include global.max-screen(global.$breakpoint_pc) {
        font-size: 24px;
      }
    }

    p {
      color: #ffffff;
      padding-top: 10px;
      line-height: 2;

      @include global.max-screen(global.$breakpoint_pc) {
        font-size: 12px;
        line-height: 2;
      }
    }
  }
}

.webp {
  .p-strengthMenu__wrap {
    .p-strengthMenu__item {
      &:nth-child(1) {
        background-image: url(#{global.$path_img}webp/1x/strength/strength-menu-01.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/strength/strength-menu-01.webp) 1x,
          url(#{global.$path_img}webp/2x/strength/strength-menu-01@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/strength/strength-menu-01.webp) 1x,
          url(#{global.$path_img}webp/2x/strength/strength-menu-01@2x.webp) 2x
        );
      }
      &:nth-child(2) {
        background-image: url(#{global.$path_img}webp/1x/strength/strength-menu-02.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/strength/strength-menu-02.webp) 1x,
          url(#{global.$path_img}webp/2x/strength/strength-menu-02@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/strength/strength-menu-02.webp) 1x,
          url(#{global.$path_img}webp/2x/strength/strength-menu-02@2x.webp) 2x
        );
      }
      &:nth-child(3) {
        background-image: url(#{global.$path_img}webp/1x/strength/strength-menu-03.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/strength/strength-menu-03.webp) 1x,
          url(#{global.$path_img}webp/2x/strength/strength-menu-03@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/strength/strength-menu-03.webp) 1x,
          url(#{global.$path_img}webp/2x/strength/strength-menu-03@2x.webp) 2x
        );
      }
      &:nth-child(4) {
        background-image: url(#{global.$path_img}webp/1x/strength/strength-menu-04.webp);
        background-image: image-set(
          url(#{global.$path_img}webp/1x/strength/strength-menu-04.webp) 1x,
          url(#{global.$path_img}webp/2x/strength/strength-menu-04@2x.webp) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}webp/1x/strength/strength-menu-04.webp) 1x,
          url(#{global.$path_img}webp/2x/strength/strength-menu-04@2x.webp) 2x
        );
      }
    }
  }
}

.no-webp {
  .p-strengthMenu__wrap {
    .p-strengthMenu__item {
      &:nth-child(1) {
        background-image: url(#{global.$path_img}normal/1x/strength/strength-menu-01.jpg);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/strength/strength-menu-01.jpg) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-menu-01@2x.jpg) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/strength/strength-menu-01.jpg) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-menu-01@2x.jpg) 2x
        );
      }
      &:nth-child(2) {
        background-image: url(#{global.$path_img}normal/1x/strength/strength-menu-02.jpg);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/strength/strength-menu-02.jpg) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-menu-02@2x.jpg) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/strength/strength-menu-02.jpg) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-menu-02@2x.jpg) 2x
        );
      }
      &:nth-child(3) {
        background-image: url(#{global.$path_img}normal/1x/strength/strength-menu-03.jpg);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/strength/strength-menu-03.jpg) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-menu-03@2x.jpg) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/strength/strength-menu-03.jpg) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-menu-03@2x.jpg) 2x
        );
      }
      &:nth-child(4) {
        background-image: url(#{global.$path_img}normal/1x/strength/strength-menu-04.jpg);
        background-image: image-set(
          url(#{global.$path_img}normal/1x/strength/strength-menu-04.jpg) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-menu-04@2x.jpg) 2x
        );
        background-image: -webkit-image-set(
          url(#{global.$path_img}normal/1x/strength/strength-menu-04.jpg) 1x,
          url(#{global.$path_img}normal/2x/strength/strength-menu-04@2x.jpg) 2x
        );
      }
    }
  }
}

.p-strengthMenu__BottomWrap {
  display: flex;

  @include global.max-screen(global.$breakpoint_pc) {
    display: block;
  }
}

.p-strengthMenu__BLWrap {
  display: flex;
  width: 50%;

  @include global.max-screen(global.$breakpoint_pc) {
    width: 100%;
  }
  .p-strengthMenu__item {
    position: relative;
    display: block;
    width: 33.3333333%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 175px;

    @include global.max-screen(global.$breakpoint_pc) {
      height: 125px;
    }

    &:nth-child(1) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-05.png);
    }
    &:nth-child(2) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-06.png);
    }
    &:nth-child(3) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-07.png);
    }
  }

  .p-strengthMenu__dark {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 100%;

    &:hover {
      background: rgba(0, 0, 255, 0);
    }
  }

  .p-strengthMenu__text {
    padding-top: 3rem;
    h3 {
      font-size: 32px;
      color: #ffffff;
      text-align: center;
      font-weight: normal;

      @include global.max-screen(global.$breakpoint_pc) {
        font-size: 24px;
      }
    }
  }
}

.p-strengthMenu__BRWrap {
  display: flex;
  width: 50%;

  @include global.max-screen(global.$breakpoint_pc) {
    width: 100%;
  }
  .p-strengthMenu__item {
    position: relative;
    display: block;
    width: 33.3333333%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 175px;

    @include global.max-screen(global.$breakpoint_pc) {
      height: 125px;
    }

    &:nth-child(1) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-08.png);
    }
    &:nth-child(2) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-09.png);
    }
    &:nth-child(3) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-10.png);

      .p-strengthMenu__text {
        h3 {
          padding-top: 70px;

          @include global.max-screen(global.$breakpoint_pc) {
            padding-top: 48px;
          }
        }
      }
    }
  }

  .p-strengthMenu__dark {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 100%;

    &:hover {
      background: rgba(0, 0, 255, 0);
    }
  }

  .p-strengthMenu__text {
    h3 {
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      padding-top: 50px;
      font-weight: normal;

      @include global.max-screen(global.$breakpoint_pc) {
        font-size: 24px;
        padding-top: 30px;
      }
    }
  }
}
