@use "../../../global" as global;

.p-strengthMenu {
  margin-top: 4rem;
}

.p-strengthMenu__wrap {
  display: flex;
  flex-wrap: wrap;

  @include global.max-screen(global.$breakpoint_pc) {
    display: block;
  }

  .p-strengthMenu__item {
    position: relative;
    display: block;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;

    @include global.max-screen(global.$breakpoint_pc) {
      width: 100%;
    }
  }

  .p-strengthMenu__dark {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 100%;
  }

  .p-strengthMenu__text {
    display: inline-block;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 5rem;

    @include global.max-screen(global.$breakpoint_pc) {
      padding-top: 40px;
      padding-left: 20px;
    }
    h3 {
      font-size: 32px;
      line-height: calc(48 / 32);
      color: #ffffff;
      letter-spacing: 0em;

      @include global.max-screen(global.$breakpoint_pc) {
        font-size: 24px;
      }
    }

    p {
      color: #ffffff;
      padding-top: 10px;
      line-height: 2;

      @include global.max-screen(global.$breakpoint_pc) {
        font-size: 12px;
        line-height: 2;
      }
    }
  }
}

.p-strengthMenu__wrap {
  .p-strengthMenu__item {
    &:nth-child(1) {
      background-image: url(#{global.$path_img}normal/1x/strength/strength-menu-01.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-01.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-01@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-01.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-01@2x.png) 2x
      );
    }
    &:nth-child(2) {
      background-image: url(#{global.$path_img}normal/1x/strength/strength-menu-02.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-02.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-02@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-02.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-02@2x.png) 2x
      );
    }
    &:nth-child(3) {
      background-image: url(#{global.$path_img}normal/1x/strength/strength-menu-03.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-03.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-03@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-03.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-03@2x.png) 2x
      );
    }
    &:nth-child(4) {
      background-image: url(#{global.$path_img}normal/1x/strength/strength-menu-04.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-04.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-04@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-04.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-04@2x.png) 2x
      );
    }
  }
}

.p-strengthMenu__BottomWrap {
  display: flex;
  flex-wrap: wrap;
  .p-strengthMenu__item {
    position: relative;
    display: block;
    width: calc(100% / 6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;

    @include global.max-screen(global.$breakpoint_pc) {
      height: 125px;
      width: calc(100% / 3);
    }

    &:nth-child(1) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-05.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-05.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-05@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-05.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-05@2x.png) 2x
      );
    }
    &:nth-child(2) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-06.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-06.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-06@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-06.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-06@2x.png) 2x
      );
    }
    &:nth-child(3) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-07.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-07.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-07@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-07.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-07@2x.png) 2x
      );
    }
    &:nth-child(4) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-08.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-08.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-08@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-08.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-08@2x.png) 2x
      );
    }
    &:nth-child(5) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-09.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-09.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-09@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-09.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-09@2x.png) 2x
      );
    }
    &:nth-child(6) {
      background-image: url(#{global.$path_img}/normal/1x/strength/strength-menu-10.png);
      background-image: image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-10.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-10@2x.png) 2x
      );
      background-image: -webkit-image-set(
        url(#{global.$path_img}normal/1x/strength/strength-menu-10.png) 1x,
        url(#{global.$path_img}normal/2x/strength/strength-menu-10@2x.png) 2x
      );

      .p-strengthMenu__text {
        h3 {
          padding-top: 70px;

          @include global.max-screen(global.$breakpoint_pc) {
            padding-top: 48px;
          }
        }
      }
    }
  }

  .p-strengthMenu__dark {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 100%;
  }

  .p-strengthMenu__text {
    h3 {
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      padding-top: 50px;

      @include global.max-screen(global.$breakpoint_pc) {
        font-size: 24px;
        padding-top: 30px;
      }
    }
  }
}
