// ==============================================================
//  break points
// ==============================================================
// 1000px前後〜1280pxのブレイクポイント間で綺麗に見えるように(1140px)に合わせる
$breakpoint_pc: 999px;
// 600px〜834px (768px)
$breakpoint_tb: 834px;
// 360px〜414px (375px)
$breakpoint_sp: 414px;
// 320px (320px)
$breakpoint_sp_small: 350px;

// ==============================================================
//  path
// ==============================================================

// ローカル環境パス
$path_img: "../img/";

// ==============================================================
//  color
// ==============================================================

$c--white: #ffffff;

$c--text: #333333;

$c--accent: #4190b7;

$c--primary: #0f2731;

$f--gothic: "游ゴシック体 Medium", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

$f--noto: "noto-sans", sans-serif;
